body{
  background-color: #2C3335;
  color: #ffffff;
  text-align: center;
}
.Nav{
  background-color: lightcoral;
  display: flex;
}
.Nav-brand{
  padding: 5px;
}
.Nav-link-parent{
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin-left: auto;
}
.Nav-link{
  margin-left: auto;
  align-self: center;
  font-weight: bold;
  padding: 5px;
}

form{
  padding: 20px;
  max-width: 500px;
  margin: 10px auto;
  display: flex;
  text-align: left;
  flex-direction: column;
}
form > input{
  padding: 8px;
  margin: 5px 0px;
  font-size: large;
  border: none;
  border-radius: 3px;
  outline: none;
}

form > button{
  padding: 8px;
  font-size: large;
  border: none;
  border-radius: 3px;
  background-color: lightcoral;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  transition: background-color 150ms linear;
}

form > button:hover{
  background-color: rgb(185, 77, 77);
}

.Movie-component{
  background-color: #47535E;
  padding: 20px;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 10px;
  transition: background-color 100ms linear;
}

.Movie-component:hover{
  background-color: #39434d;
}

.movie-tile-header{
  display: flex;
  justify-content: space-between;
  color: lightcoral;
  margin-bottom: 10px;
}

.movie-tile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}